<div id="top-image">
</br>
	<div class="center"><%=image_tag("bootcamp/dbc_2015.jpg", :alt => "Discipleship Boot Camp will be held at the Christian Cultural Center in Brooklyn NY on May 30, 2015. Call 631-753-1244 for details.") %>
	</div>
</div>
<div class="interior_content clearfix">
	
	<div id="dbc">
	
	<div style="text-align:center"><h1>Don't Miss It!</h1><button onclick="window.location='/requests/new';">Order your FREE Promotional Package Today</button></div>
	</br>
	
	<div class="small_txt">
		<p>MDN’s Discipleship Boot Camp<sup>&#174;</sup> is a powerful, often life changing event in which men from all over the region come together to be challenged by the Word of God delivered through engaging, powerful, and inspired speakers and pastors. You will experience the power of brotherhood with men who share one common bond: Jesus Christ. Come as you are. There are none perfect here (Romans 3:10); just men recognizing their need of the Savior and a desire to become more like Him. Discipleship Boot Camp<sup>&#174;</sup>  is fun. You will laugh until you cry, and you will cry until you laugh as you experience the grace of Christ in your life. Come and be among the multitude of men called by God to gather "for such a time as this”. Come! Be “The Man God Blesses”.</p>
		</br>

        <div class="white_data">
			<table id="sessions">
				<col width="420">
				<col width="60">
				<col width="150">
				<h1 style="text-align:center">Breakout Sessions (optional)</h1>
			    <tr>
			      <th>Title</th>
			      <th></th>
			      <th>Speaker</th>
			    </tr>

			    <!-- SESSION START -->

                <tr>
                	
				    <td><div class="arrow_txt"><strong>The Kneeling Warrior</strong></div></td>
				    <td><div class="arrow_txt">Info</div><div class="arrow"></div></td>
				    <td><a id="" href="#ireland" class="spaceless_a inline">Dr. David Ireland</a></td>
			    
			    </tr>
			    <tr>
				    <td colspan="600" class="description left_align">Mature Christian men seem to have one mark that stands the test of time. They consistently talk with their Heavenly Father about their trials and joys. A Father who cares deeply for them and provides the wisdom and strength needed when asked for. Prayer is one of the most elusive parts of a man's walk with Christ. The Man God Blesses is a "Kneeling Warrior”; one who is not perfect, but who is consistent in the vital role of prayer, the essential factor in his success here on earth. In this session Dr. David Ireland will share the wisdom he has gained from his own experience in prayer, and will share with you practical steps for engaging in consistent, effective prayer to see God’s hand move in your own life. Thousands have benefited from Dr. Ireland's book “Kneeling Warrior”. You too will say "this is practical, I can do this!”. The Man God Blesses is a man who prays! Come learn how.
		            </td>
	            </tr>
	          <!-- Fancybox for Durso -->
	          <div style="display:none" class="speaker_block">
	          	<div id="ireland" class="speaker_bio">
	          		<h2>Dr. David Ireland</h2>
	          		<p><%= image_tag("speakers/ireland.jpg", :alt => 'Dr. David Ireland')%> <p>Dr. David Ireland is the author of some 20 books including What Color is Your God?, Secrets of a Satisfying Life, Failure is Written in Pencil, Perfecting Your Purpose, The Skin You Live In; and his latest work, The Kneeling Warrior: Winning Your Battles Through Prayer. He is founder and senior pastor of Christ Church, a 7,500 member multisite, multiracial congregation in northern New Jersey. Diversity consultant to the National Basketball Association, Dr. Ireland leads chapel services for the New York Giants, New York Jets, and at the U.S. Pentagon. Ireland has appeared on numerous television shows including The Dr. Phil Show, The CBS Evening News, and The 700 Club. Through his community development corporation, he offers a home for victims of domestic violence, a youth leadership institute, and a statewide abstinence-based program offered in partnership with New Jersey schools. The Rev. Ireland has an earned doctorate degree in organizational leadership (Regent University) and has completed post-doctoral work at the University of Pennsylvania. He and his wife, Marlinda, have been married since 1984 and have two adult daughters.</p>
	            </div>
	          </div>

			    <!-- FIRST SESSION -->
				  <tr>
				    <td><div class="arrow_txt"><strong>Singled out for Success (Young Men)</strong></div></td>
				    <td><div class="arrow_txt">Info</div><div class="arrow"></div></td>
				    <td><a id="" href="#durso" class="spaceless_a inline">Pastor Adam Durso</a></td>
				  </tr>
				  <tr>
				    <td colspan="600" class="description left_align">Growing in mature manhood for a young man is one of the hardest tasks in today's culture. Pastor Adam and you will walk through relatable struggles as well as practical answers that you can apply Tuesday at 2pm when life seems not to agree with Sunday morning's truth. The culture’s assault on young men resulting in entitlement, passivity and confused sexual identity will be engaged with the power and grace of the Gospel of Christ just for single and young men. (Recommended: single, young men)
		            </td>
		          </tr>
		          <!-- Fancybox for Durso -->
		          <div style="display:none" class="speaker_block">
		          	<div id="durso" class="speaker_bio">
		          		<h2>Pastor Adam Durso</h2>
		          		<p><%= image_tag("speakers/durso.jpg", :alt => 'Pastor Adam Durso')%> <p>Adam Durso is the Executive Pastor of Christ Tabernacle church, based in Glendale, Queens, NY,  After living a reckless life at college, separated from church and his family, he found himself spiritually lost and financially broken.  In 1996, God called Adam to begin a youth ministry at the church and Youth Explosion was born. Since then, the ministry has welcomed 500 young people every Friday night at their service. Youth Explosion has been featured on the 700 Club, BET Nightly News, CBS News, the NY Times, VIBE Magazine and more. Adam’s vision now has a global scope as shown by his newest venture, Faith Breathes LLC, which partners with churches worldwide that are focused on training, strengthening, and empowering youth pastors. Faith Breathes is an extension to Adam’s mission to encourage people everywhere to put their faith in God and in His Son Jesus Christ.</p>
		            </div>
		          </div>

		          <!-- SECOND SESSION -->
		          <tr>
				    <td><div class="arrow_txt"><strong>Sexual Integrity: Seriously?</strong></div></td>
				    <td><div class="arrow_txt">Info</div><div class="arrow"></div></td>
				    <td><a id="" href="#lloyd" class="spaceless_a inline">Pastor Bobby Lloyd</a></td>
				  </tr>
				  <tr>
				    <td colspan="600" class="description left_align">A sexual revolution has taken place both within and outside the church today. As men everywhere are bombarded with not only temptation to think and act outside of the moral box, but we are tempted to think its the new normal. Most men struggle with thoughts that are contrary to God’s truth. Sexual thoughts tend to hold men captive. It is a plague. Whats a man to do? Pastor Lloyd will address the tough questions men ask as well as the biblical answers that set men free.
		            </td>
		          </tr>
			          <!-- Fancybox for Lloyd -->
			          <div style="display:none" class="speaker_block">
			          	<div id="lloyd" class="speaker_bio">
			          		<h2>Pastor Bobby Lloyd</h2>
			          		<p><%= image_tag("speakers/lloyd.jpg", :alt => 'Pastor Bobby Lloyd')%> <p>Pastor Robert (Bobby) Lloyd's humor and relaxed style coupled with his vast experience enables him to challenge the lies men believe then live. He is one of New York’s foremost speakers in challenging men to walk in integrity and stop falling prey to the lusts and promises of this world that never deliver. Many leave Pastor Lloyd’s seminars set free from shame, guilt and plain old stinking thinking.</p>
			            </div>
			          </div>

		          <!-- THIRD SESSION -->
		          <tr>

				    <td><div class="arrow_txt"><strong>S.E.A.L. Team: Building Brotherhood</strong></div></td>
				    <td><div class="arrow_txt">Info</div><div class="arrow"></div></td>
				    <td><a id="" href="#rodcaesar" class="spaceless_a inline">Bishop Roderick Caesar</a></td>
				  </tr>
				  <tr>
				    <td colspan="600" class="description left_align">Surrounded by millions, but befriended by few, isolation among men is an epidemic resulting in pain and sorrow, as men are as sick as their secrets.  The Bible is clear that as men we are incomplete on our own. This session will shine light on what a fulfilling, biblical friendship can be, as well as, provide a simple plan (S.E.A.L. Team) that has helped thousands of men engage the abundant life Jesus promised through rich, lasting brotherhood. This session is recommended for men who may sense a need for greater biblical brotherhood. Men who want richer Christ-like friendship with other men. Men who want to take their fellowship with their team of brothers to another level.
		            </td>
		          </tr>
			          <!-- Fancybox for Lloyd -->
			          <div style="display:none" class="speaker_block">
			          	<div id="rodcaesar" class="speaker_bio">
			          		<h2>Bishop Roderick Caesar</h2>
			          		<p><%= image_tag("speakers/rodcaesar.jpg", :alt => 'Bishop Roderick Caesar')%> <p>Dr. Roderick R. Caesar sits on the Men’s Discipleship Elder Board. He is the Senior Pastor of the Bethel Gospel Tabernacle. Bishop Caesar not only shepherds a congregation of 2,000 members, he is also the overseer of three branch churches, including a thriving church in Haiti. With vision and keen intelligence, he is on the boards of several key Christian organizations, including Bethel’s own Federal Credit Union and Bible Institute, Logos Bible College & Graduate School, the National Religious Broadcasters – an international media ministry, and Kings College.  Bishop Caesar had conferred upon him a Doctorate of Divinity in November 1994, which he earned from Vision Christian College. Dr. Caesar lives in Hollis, Queens, with his wife, Beverly, and their four children.</p>
			            </div>
			          </div>

			      <!-- FOURTH SESSION -->
		          <tr>
				    <td><div class="arrow_txt"><strong>Dad & Family Devotions: Thinking Outside The Box</strong></div></td>
				    <td><div class="arrow_txt">Info</div><div class="arrow"></div></td>
				    <td><a id="" href="#shoemaker" class="spaceless_a inline">Tim Shoemaker</a></td>
				  </tr>
				  <tr>
				    <td colspan="600" class="description left_align">As a Husband and Father,  the responsibility to create a revolution in his home with the Word of God is given by God to the man (Deuteronomy 6:7)Being a father requires little. Becoming a Dad requires effort. Modeling and teaching Christ-likeness to those in our household requires training. Our wives have only one husband, our children one father. One of the challenges facing every man is his need to engage his family each week in a time devotion to God’s Word. Tim Shoemaker will teach you practical, applicable methods that have already worked for thousands of men across the country. You just may laugh as much as you learn. Tim  uses a huge variety of object lessons to help teach men biblical truth—like electrocuting a pickle, creating a -100 degree solution for fast-freezing, and converting a leaf blower to shoot toilet paper. These demos, often done with the help of a volunteer from the audience, really connect with men.  And men tend to remember the application better as well. <a href="https://vimeo.com/127531237" target="window">Click here </a>to see a video invitation from Tim.
		            </td>
		          </tr>
			          <!-- Fancybox for shoemaker -->
			          <div style="display:none" class="speaker_block">
			          	<div id="shoemaker" class="speaker_bio">
			          		<h2>Tim Shoemaker</h2>
			          		<p><%= image_tag("speakers/shoemaker.jpg", :alt => 'Tim Shoemaker')%> <p>Tim Shoemaker lives in greater Chicago and is happily married for more than thirty years to Cheryl, the love of his life. He is also a Dad to three grown sons and two daughter-in-laws. He is Elder Chairman in his local church and high school small group leader. Tim is  the author of eleven books, including <span style="font-style: italics">  Super Husband Super Dad, Smashed Tomatoes…Bottle Rockets and Other Outdoor Devotionals You Can Do With Your Kids, Dangerous Devotions for Guys </span>, and more. </p>
			            </div>
			          </div>

			      <!-- FIFTH SESSION -->
		          <tr>
				    <td><div class="arrow_txt"><strong>The Bible and Manhood: Fact or Fiction</strong></div></td>
				    <td><div class="arrow_txt">Info</div><div class="arrow"></div></td>
				    <td><a id="" href="#nelson" class="spaceless_a inline">Bishop Hugh Nelson</a></td>
				  </tr>
				  <tr>
				    <td colspan="600" class="description left_align">Today’s society and culture provoke many questions concerning the true nature of manhood and roles for men. When defining biblical manhood according to God's original design, we must first examine the lies that many men have come to believe, then live. Lies of counterfeit masculinity as defined by a culture that has lost its mooring from the solid foundation of God’s Word. Bishop Nelson will reveal the truth of God’s original design: The Masculine Mandate of Holy Scripture. "Manhood and Christ-likeness are synonymous”. This session is designed to clear confusion and clarify God’s order and roles for men in the home, church and workplace.
		            </td>
		          </tr>
			          <!-- Fancybox for Nelson -->
			          <div style="display:none" class="speaker_block">
			          	<div id="nelson" class="speaker_bio">
			          		<h2>Bishop R. C. Hugh Nelson</h2>
			          		<p><%= image_tag("speakers/nelson.jpg", :alt => 'Bishop Hugh Nelson')%> <p>Bishop R. C. Hugh Nelson is a man of God committed to a ministry of restoration that reaches beyond the gates, to uplift those most in need. Bishop Nelson and his family relocated to Brooklyn, New York in 2003 where he presently serves as Senior Pastor for the COG East Flatbush, District Overseer, Chairperson of Gayle Academy for Children, President for Hope Center Development Corp., New York State Council member, New York State Care Ministries Coordinator, New York State Chaplaincy Ministries Coordinator and member of the Church of God General Board of Education. Under his visionary guidance and focus on leadership development, the Church Of God of East Flatbush has undergone a process. Bishop Nelson has been in ministry for twenty eight years and enjoys ministering cross-culturally. He has traveled to than twenty countries and has a deep passion for urban ministry. Bishop Nelson has been married to Rev. Diana Nelson for twenty-six years, and they are proud of their three children R.C. Nelson Jr., Andrae and Sigourney.</p>
			            </div>
			          </div>
			      <!-- SIXTH SESSION -->
		          <tr>
				    <td><div class="arrow_txt"><strong>Men Leading Men (For Church Leaders)</strong></div></td>
				    <td><div class="arrow_txt">Info</div><div class="arrow"></div></td>
				    <td><a id="" href="#chaparro" class="spaceless_a inline">Reverend Onorio Chaparro</a></td>
				  </tr>
				  <tr>
				    <td colspan="600" class="description left_align">
				    	This powerful session is featuring one of NYC’s foremost men’s leaders and will cover vital topics for every man called to lead men.
						Topics covered include:
						<ul>
							<li>How Men Learn</li>
							<li>Developing Male Leadership: Teaching Men to Teach</li>
							<li>Choosing and Raising the Teacher/ Leader.</li>
							<li>A New Scorecard for Success</li>
						</ul>
						Recommended for Pastors and Men’s leaders that would like to refine their leadership skills as well as build their leadership by teaching men to teach men.
		            </td>
		          </tr>
			          <!-- Fancybox for Lloyd -->
			          <div style="display:none" class="speaker_block">
			          	<div id="chaparro" class="speaker_bio">
			          		<h2>Reverend Onorio Chaparro</h2>
			          		<p><%= image_tag("speakers/chaparro.jpg", :alt => 'Reverend Onorio Chaparro')%> <p>Minister Onorio Chaparro came to CCC in 1996 as a new believer and began fulltime ministry in 2005 upon completing his Masters in Divinity from Princeton Theological Seminary.  As Director of the Maturity Division, Minister Chaparro supervises the New Member’s Experience and the formation of adult Christian curricula in the Spiritual Life Institute (SLI).  Minister Chaparro is also the Director of the International Christian Brotherhood (ICB) Men’s Ministry founded by Pastor A.R. Bernard.  Under his leadership ICB trains men through conferences, workshops, and small groups to become brothers and servant leaders.  Above all, Minister Chaparro lives to “equip God’s people to do his work and build up the church” as a teacher, life coach, and mentor (Ephesians 4:12). Minister Chaparro resides in Flatbush, Brooklyn, where he was born and raised, with his loving wife of fourteen years, Adrienne A. Chaparro and four dynamite children, Jeremiah, Ariana, Isaiah and Elisha.</p>
			            </div>
			          </div>
			</table>

	    </br>
	    </br>
        <h1 style="text-align:center">Purchase Tickets Today!</h1>
		<div style='width:100%; text-align:left; margin-left:15px;'><iframe id='ezframe' width='100%' scrolling='auto' height='450' frameborder='0' allowtransparency='true' hspace='0' vspace='0' marginheight='5' marginwidth='5' src='http://www.eventzilla.net/web/event_ext.aspx?EventID=2139073707' name='ezframe'></iframe></div>
		<h2>Attend a Discipleship Boot Camp<sup>&#174;</sup>:</h2>
		<ul>
			<li>Be Trained, Instructed, and Challenged to thrive in the roles that God has given you</li>
			<li>Ignite the faith of you and be motivated to love God and bear much fruit</li>
			<li>Break the grip of sin and addiction to pornography, substance abuse, and relational dysfunction</li>
			<li>Crush the cycle of yo-yo Christianity, and receive training to yield male maturity</li>
			<li>Get a "shot in the arm" with your Men's group and recommit your purpose and mission</li>
			<li>Receive training and inspiration to effectively address the needs of your church's men</li>
		</ul>
<%= image_tag("bootcamp/bootcamp_top_image.jpg", :width => '730', :height => '295', :alt => 'Men standing and worshiping Jesus at an MDN Discipleship Boot Camp')%>
		

    	
</br>
</br>
</br>
            <div class="video">
			<p>Take a look at some highlights from last year's Discipleship Boot Camp</p></br>
			<iframe width="560" height="349" src="https://www.youtube.com/embed/8LZzoP5XwYY" frameborder="0" allowfullscreen></iframe>
			</div>	</br>
		</div>
	</div>

</div>
<script type="text/javascript">
	$(document).ready(function() {
		$("a.inline").fancybox({
			'hideOnContentClick': true
		});
	});
</script>

<script type="text/javascript">
    $(document).ready(function(){
            $("#sessions tr:odd").addClass("odd");
            $("#sessions tr:not(.odd)").hide();
            $("#sessions tr:first-child").show();
            
            $("#sessions tr.odd").click(function(){
                $(this).next("tr").toggle();
                $(this).find(".arrow").toggleClass("up");
            });
            //$("#sessions").jExpand();
        });
</script>
