
<div id="resources">
	<div id="resource_header">
		<h1>Men's Ministry Resources</h1>
	</div>

	<% if @resources.empty? %>
		<div class="resource_wrap clearfix">
			<!-- <p>There are no resources available at this time.</p> -->
			<h1>Porn Stats 2013</h1><h2>Get the Facts on the Porn Plague</h2>
			<p><a href="/images/resources/porn_stats_2013_covenant_eyes.pdf"><%= image_tag "/images/resources/porn_stats.png" %></a>Covenant Eyes, the premiere maker of internet filter and accountability software has just published a document
				describing the scope and broad reaching impact of pornography on our society. Pornography is devastating marriages, families, and the individual lives of men, woman, and children. Men and woman from all walks of life are impacted. Sadly, there is an epidemic of addiction even in the church. Understanding the problem is the first step towards addressing it.</br></br><a href="/images/resources/porn_stats_2013_covenant_eyes.pdf">Download and read </a> this compelling research report.</p>
				
		</div>
			
	<% else %>
		<% @resources.each do |resource| %>

		<div class="resource_wrap clearfix">
				<h1><%= resource.title.html_safe %></h1><h2><%= resource.subtitle.html_safe %></h2>
			<p><%= image_tag resource.image_url(:wallet).to_s %><%= resource.description.html_safe %></p>
		
			<div id="attachments">
				<% if resource.document? %>
					<p>Get the resource:<%= link_to 'Download File', :action => 'download_file', :id => resource.id %></p>
				<% end %>
				<% if resource.video? %>
					<p>Get the video:<%= link_to 'Download Video', :action => 'download_video', :id => resource.id %></p>
				<% end %>
				<% if resource.audio? %>
					<p>Get the audio:<%= link_to 'Download Audio', :action => 'download_audio', :id => resource.id %></p>
				<% end %>
			</div>
		</div>
		<% end %>
	<% end %>
	
</div>
<div class="pagination"<%= will_paginate @prayers %></div>

