<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2>We have received your request for an MDN Discipleship Boot Camp promotional pack!</h2>
    <p>Thank you, <%= @request.first_name %>. Your request for an MDN Discipleship Boot Camp promotional pack has been received. We will send it out right away so you can begin to tell your men about this exciting and life changing event.<p></br>
  
    <p>Here is a summary of the contact information you provided.</p><br />
     <%= @request.first_name %> <%= @request.last_name %><br />
     <%= @request.church %><br />
     <%= @request.address1 %><br />
     <%= @request.address2 %><br />
     <%= @request.city %>, <%= @request.state %> <%= @request.zip %><br />
     <%= @request.email %><br />
     <%= @request.phone %><br />
    </p>
    <p>Thanks for your request and have a great day!</p>
  </body>
</html>